---
import config from "@/config/config.json";
import ImageMod from "./ImageMod.astro";

const { src }: { src?: string } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<a href="/" class="navbar-brand inline-block">
  {
    src || logo ? (
      <>
        <ImageMod
          src={src ? src : logo}
          class={`inline-block`}
          width={logo_width.replace("px", "") * 2}
          height={logo_height.replace("px", "") * 2}
          alt={title}
          style={{
            height: logo_height.replace("px", "") + "px",
            width: logo_width.replace("px", "") + "px",
          }}
          format="webp"
        />
      </>
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
</a>
