---
import { markdownify } from "@/lib/utils/textConverter";

const { label, link, className } = Astro.props;
---

<a
  class={`btn btn-primary group flex items-center max-w-max gap-1 cursor-pointer ${className}`}
  href={link || "/#"}
  aria-label={label}
>
  <span set:html={markdownify(label)} />
  <div class="sr-only">{label}</div>
  <div class="relative w-5 h-5 grid place-items-center overflow-hidden">
    <i
      class="-rotate-45 group-hover:translate-x-full group-hover:-translate-y-full transition-transform duration-500 ease-out w-5 h-5 grid place-items-center"
    >
      <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
        ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg
      >
    </i>

    <i
      class="-rotate-45 absolute top-full right-full group-hover:translate-x-full group-hover:-translate-y-full transition-transform duration-500 ease-out w-5 h-5 grid place-items-center"
    >
      <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
        ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg
      ></i
    >
  </div>
</a>
