html, body {
	margin: 0%;
	padding: 0%;
    overflow-x: hidden;
    overflow: visible;
	background: #000000;
	color: #F5F5F7;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body .row {
	margin-left: 0;
	margin-right: 0;
}
body .row a {
	color: #0093ff;
}
h1#page-title {
	font-family: FenwayPark;
}
h1#page-title a.blog-logo {
	background: url(../Assets/RocketSim-logo.svg) no-repeat left;
    display: block;
    text-indent: -9999px;
    background-size: contain;
    margin-bottom: 1rem;
}
h1#page-title a.insights-logo {
	background: url(../Assets/RocketSim-Insights-logo.svg) no-repeat left;
	background-size: contain;
	height: 60px;
}
a {
	color:  white;
}
.container .row a button {
	background-color: #0093ff;
    border: none;
    border-radius: 20px;
    padding: 0.575rem 1.75rem;
    font-weight: 600;
}
.container .row a:hover button {
	background-color: #3961d0;
}
.header-container {
	padding-left: 0;
    padding-right: 0;
    margin-top: 6rem;
    margin-bottom: 0rem;
    padding-bottom: 0;
}
.header-container h2 {
	font-size: 2rem;
}
.header-container img {
	max-width: 250px;
    margin: 0 auto;
    display: block;
}
.header-container a img {
	margin: 0;
}
.header-menu {
	padding-bottom: 0;
	margin-bottom: 4rem;
	top: -1px;
	backdrop-filter: saturate(180%) blur(20px);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	background-color: rgba(0,0,0,0.72);
}
.header-menu .container {
	padding-right: 0;
	padding-left: 0;
}
.is-pinned {
	border-bottom: 1px rgba(255,255,255,0.24) solid;
}
.is-pinned #sticky-app-icon {
	opacity: 1 !important;
}
.header-menu #sticky-app-icon {
	width: 100%;
	max-width: 44px;
	opacity: 0;
}
.header-menu .row {
	padding: 1rem 0;
}
.header-menu a.team-licenses-button button {
	background: none;
    color: #0093ff;
}
.header-menu a.team-licenses-button:hover button {
	background: none;
	color: #3961d0;
}
.header-menu button {
	float: left;
    margin-top: 0;
    margin-right: 20px;
}
.section-headline {
	font-size: 4.5rem;
	line-height: 1.05556;
    font-weight: 600;
    letter-spacing: -.006em;
}
.section-headline-elevated {
	line-height: 1.05556;
    font-weight: 600;
    letter-spacing: -.006em;
}
.typography-section-intro {
	font-size: 1.5rem;
    line-height: 1.33341;
    font-weight: 600;
    letter-spacing: -.003em;
    margin-top: 33px;
}
.faded-headline {
	margin-left: 4rem;
	color: #86868b;
}
.text-headline {
	color: white;
}
.gray-text {
	color: #aaa;
}
#trusted-companies img {
	max-width: 640px;
	width: 100%;
}
#trusted-companies h2 {
	text-align: center;
}
#app-store-badges {
	margin-bottom: 4rem;
}
#app-store-badges img {
	max-height: 122px;
	margin: 0 auto;
    display: block;
    margin-top: 2rem;
}
#pro-section {
	background: #111111;
}
.navbar-brand {
	color: #fff!important;
	font-size: 2rem;
	font-weight: 800;
}
.bg-light {
	background-color: transparent!important;
}
.nav-link {
	color: #fff!important;
	padding: 1.5rem;
	letter-spacing: 2px;
	/*    font-weight: 600;*/
}
.navbar-brand {
	color: #fff!important;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 4px;
}
.navbar-brand :hover {
	color: black;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
	padding: 1.5rem;
}
.display-4 {
	font-size: 4.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.jumbotron {
	background-color: inherit;
}
img#simulator {
	max-width: 188px;
}
img#recording-notification {
	max-width: 240px;
	float: right;
	margin-right: 12px;
}
img#floating-thumbnail {
	max-width: 180px;
}
#simulator-container {
	float: left;
}
#simulator-container .row {
	display: flex;
	align-items: flex-end;
}
.btn-lg {
	padding: .75rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
	margin-top: 2rem;
	margin-right: 1.5rem;
}
.feature-section {
	margin-top: 8rem;
	margin-bottom: 8rem;
}
.feature-section img {
	width: 75%;
}
#drag-and-drop img {
	width: 100px;
    border-radius: 10px;
}
.video-container {
	width: 100%;
	height: 0px;
	position: relative;
	padding-top: 56.25%;
	margin-bottom: 4rem;
}
video {
	width: 100%;
	height: 100%;
	position: absolute;;
	top: 0;
	left: 0;
	height: auto;
	margin-top: 3rem;
	border-radius: 20px;
}
.section-intro {
	font-size: 2.0rem;
    font-weight: 600;
}
.section-desc {
	padding: 0 10%;
}
.features-icon-left {
	float: right;
	margin-top: 1.5rem;
	min-height: 6rem;
}
.features-details-left {
	text-align: left;
}
.features-icon-right {
	float: left;
	margin-top: 1.5rem;
	min-height: 6rem;
}
.features-details-right {
	text-align: right;
}
.feature-item {
	margin-top: 3.5rem;
}
.fa-4 {
	font-size: 3rem!important;
}
.pro .app-store-button {
	padding: .75rem 0rem;
	font-size: 1.25rem;
	border-radius: .3rem;
	margin-top: 2rem;
	margin-right: 1.5rem;
}
#pro-features {
	margin-top: 1rem;
}
#pro-features h3 {
	font-size: 1rem;
	font-weight: 600;
}
#pro-features figure {
	width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2rem 0 15px 0;
}
#pro-features p {
	font-size: 1rem;
	color: #A3A39C;
	font-weight: 600;
}
.watermark-removed-icon {
	background-image: url(../Assets/watermark-icon.svg);
}
.touches-icon {
	background-image: url(../Assets/touches-icon.svg);	
}
.comparing-icon {
	background-image: url(../Assets/comparing-icon.svg);	
}
.app-store-button {
	padding: 0;
    background: none;
    border: none;
}
.parallax-background {
	background: url('parallax%20background.jpg');
	background-size: cover;
}
.overlay {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.support {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.support h1 {
	margin-bottom: 2rem;
}
.support a {
	color: white;
    text-decoration: underline;
}
.form-inline {
	margin-top: 2rem;
}
.form-control {
	padding: 1rem;
	margin: 1rem;
	border: 1px solid #333;
}
.btn-light {
	color: #292b2c;
	background-color: #fff;
	border-color: #ccc;
	8f9fa;
	font-size: 1.5rem;
}
.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #111111;
    font-size: 13px;
    color: #6e6e73;
}
.footer a {
	color: white;
}
.wow {
	-webkit-animation-delay: 0.4s;
}

/* Testimonials */
#testimonials .section-headline {
	margin-bottom: 3rem;
}

/* Recent builds */
#recent-builds img, #grids img, #rulers img, #quick-actions img {
	width: 100%;
	border-radius: 20px;
}

/* Location Simulation */
#location-simulation img {
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 3rem;
}

/* Recording touches */
#recording-touches img {
	width: 100%;
	border-radius: 20px;
}

/* Recording example */
#recording-example video {
	position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
}

/* Trimming */
#trimming img {
	width: 100%;
    border-radius: 20px;
}

/* Statusbar Menu */
#statusbar_menu img {
	width: 100%;
    border-radius: 20px;
}

/* Reviews */
#reviews {
	margin-top: 3rem;
}
#reviews span.author a {
	color: #aaa;
	font-style: italic;
}
#reviews img {
	width: 48px;
	border-radius: 24px;
    float: left;
    margin-right: 1em;
}

#reviews .typography-section-intro {
	font-size: 1.4rem;
}
/* FAQ */
#faq .question {
	padding-top: 25px;
	padding-bottom: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    cursor: pointer;
}
/* Insights */
.gray-background-container {
	background: #101010;
	padding-top: 8rem;
	padding-bottom: 8rem;
}
#rocketsim-insights .container {
	margin-bottom: 0;
	margin-top: 0;
}
#rocketsim-insights .section-headline-elevated {
	margin-bottom: 4rem;
}

#rocketsim-insights img {
	width: 100%;
	border-radius: 20px;
}
/* Team Insights Upsell */
#team-insights-upsell {
	position: relative;
}
#team-insights-upsell .container {
	z-index: 1;
	position: relative;
}
#team-insights-upsell .charts-css {
	--color: #3961d0;
	position: absolute;
	opacity: 0.3;
	top: 0;
	left: 0;
	z-index: 0;
}

#team-insights-upsell p {
	text-shadow: 2px 2px #000000;
}

#actionable-insights .alert {
	color: white;
	border-radius: 20px;
	border: 0px;
	background: linear-gradient(138deg, rgba(73, 96, 202, 0.70) 22.00%, rgba(52, 11, 122, 0.20) 82.00%);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.10) inset, 0px 0px 20px 3px rgba(7, 13, 79, 0.05) , 0px 0px 40px 20px rgba(7, 13, 79, 0.05) , 0 0 0 1px rgba(255, 255, 255, 0.06) inset;
}
#actionable-insights .alert:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	content: "";
	background: radial-gradient(50% 50% at 50% 50%,transparent 0,rgba(0,0,0,.25) 80%);
	border-radius: var(--rounding-xl);
	mix-blend-mode: soft-light;
	opacity: 0;
	transition: opacity .3s;
}

#actionable-insights .alert p {
	display: block;
	margin: 0 2.4rem;
}
.alert span {
	width: 2rem;
	height: 2rem;
	float: left;
}
.alert span.gauge {
	background: url(../Assets/alerts/gauge.svg) no-repeat left;
}
.alert span.gauge-alert {
	background: url(../Assets/alerts/gauge-alert.svg) no-repeat left;
}
#list-of-insights {
	margin-top: 2rem;
}
#online-team-manager .video-container {
	height: auto;
	position: inherit;
	padding-top: 0;
}
#online-team-manager video {
	border-radius: 8px;
	position: inherit;
	top: auto;
	left: auto;
}

/* Newsletter Subscribe Form */
.newsletter_subscribe_form {
	margin-top: 2rem;
}
.newsletter_subscribe_form fieldset {
	margin: 1rem 0 2rem;
}
.newsletter_subscribe_form .form-fields {
    background: white;
    border-radius: 10px;
    width: 320px;
    margin-bottom: 4rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 300;
	margin: 0 auto;
}

.newsletter_subscribe_form .form-fields p {
    margin: 0;
    width: 100%;
}

.newsletter_subscribe_form .form-fields .newsletter-email {
    display: block;
    float: left;
    color: black !important;
    padding: 0 1rem;
    margin: 0;
    flex-grow: 1;
    border-bottom: none !important;
	border: none;
	background: none;
	font-size: 0.9rem;
}

.newsletter_subscribe_form .form-fields input[type=submit] {
    border-radius: 6px !important;
    padding-left: 0.6rem;
    font-weight: bold;
    background-image: url(../Assets/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: right 0.6rem center;
    background-size: 0.85rem;
    padding-right: 1.9rem;
    height: 36px;
    margin: 0.4rem;
}

input::placeholder {
	color: black;
}
input:focus{
    outline: none;
}
input[type=submit], input[type=submit]:hover {
	background: #333;
	box-shadow: none;
	color: white !important;
	text-shadow: none;
	border: 0 !important;
	border-radius: 8px !important;
	padding: 7px;
	font-size: 0.9rem;
	line-height: 1;
	cursor: pointer;
}
input[type="radio"] {
	margin-top: -1px;
	vertical-align: middle;
	margin-right: 0.5rem;
}

/* Benchmark Bar Chart */
.benchmark-bar {
	--labels-align-inline: start;
	--labels-align-block: end;
}
.benchmark-bar .charts-css.bar {
	height: 300px;
	--labels-size: 0px;
	--color: linear-gradient(45deg,#3961d0,#5d94e2 50%,#71aef1);
	--primary-axis-color: #6c757d;
	--secondary-axes-color: #6c757d;
}
.benchmark-bar .charts-css.bar caption {
	margin-bottom: 0;
	color: #86868b;
}
.benchmark-bar .charts-css.bar tr {
	margin: 0 0 1rem;
}
.benchmark-bar .charts-css.bar th {
	padding-right: 1rem;
	width: 100%;
	height: 2.3rem;
	margin-top: 1.3rem;
	font-weight: normal;
	color: white;
}
.benchmark-bar .charts-css.bar td {
	border-radius: 3px;
	min-height: 6px;
	padding: 0;
}
.benchmark-bar .charts-css.bar td span {
	font-size: 0.8rem;
	padding-left: 0.5rem;
	color: #7dc4fa;
	font-weight: bold;
	-webkit-animation: fade-in-text 2.2s 0.1s forwards;
  	-moz-animation: fade-in-text 2.2s 0.1s forwards;
  	animation: fade-in-text 2.2s 0.1s forwards;
	animation-delay: 0.8;
	opacity: 0;
}

/* Benchmark Bar Graph Horizontal Animation */
.benchmark-bar .charts-css.bar .bar-one {
  -webkit-animation: show-bar-one 1.2s 0.1s forwards;
  -moz-animation: show-bar-one 1.2s 0.1s forwards;
  animation: show-bar-one 1.2s 0.1s forwards;
  animation-delay: 0s;
  width: 0%;
}

.benchmark-bar .charts-css.bar .bar-two {
  -webkit-animation: show-bar-two 1.2s 0.2s forwards;
  -moz-animation: show-bar-two 1.2s 0.2s forwards;
  animation: show-bar-two 1.2s 0.2s forwards;
  animation-delay: 0.3s;
  width: 0%;
}

.benchmark-bar .charts-css.bar .bar-three {
  -webkit-animation: show-bar-three 1.2s 0.3s forwards;
  -moz-animation: show-bar-three 1.2s 0.3s forwards;
  animation: show-bar-three 1.2s 0.3s forwards;
  animation-delay: 0.6s;
  width: 0%;
}

/* Bar Graph Horizontal Animations */
@keyframes show-bar-one {
  0% {
    width: 0;
  }
}

@keyframes show-bar-two {
  0% {
    width: 0;
  }
}

@keyframes show-bar-three {
  0% {
    width: 0;
  }
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/* 2688x1242px at 458ppi */
@media only screen 
    and (max-device-width: 600px) {

	.header-container {
		margin-top: 1rem;
	}
	.header-container .row img {
		margin: 0 auto;
	}
	.sticky-top {
		position: relative;
	}
	.is-pinned {
		border-bottom: 0;
	}
	#sticky-app-icon {
		display: none;
	}
	.app-store-button button, .team-licenses-button button {
		display: block;
		float: none;
		margin: 0 auto;
	}
    .section-headline {
    	font-size: 3rem;
    }
	.section-desc {
		padding: 0;
	}
	img#simulator, img#floating-thumbnail {
		width: 50%;
	}
	body {
		font-size: 14px;
	}
	.feature-section {
	    margin-top: 4rem;
	    margin-bottom: 4rem;
	}
	.features-details-right {
		text-align: left;
	}
	.row img {
		margin: 2rem 0;
	}
}