---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
import NavigationLink from "../components/NavigationLink.astro";
import Header from "../components/Header.astro";

import AppStore from "../components/AppStore.astro";
import Reviews from "../components/Reviews.astro";
import Features from "../components/Features.astro";
import StatusBar from "../components/StatusBar.astro";
import TeamInsights from "../components/TeamInsights.astro";
import SocialMediaMentions from "../components/SocialMediaMentions.astro";
import SubscribeToNewsletter from "../components/SubscribeToNewsletter.astro";
import SupportAndFeedback from "../components/SupportAndFeedback.astro";
import Footer from "../components/Footer.astro";

import logoImage from "../assets/rocketsim-logo.svg";
---

<BaseLayout pageTitle="Build Apps Faster - RocketSim">
  <Header
    title="Enhancing the Xcode Simulators"
    logo={logoImage}
    logoAlt='Written logo spelling: "RocketSim"'
    scrollText="Scroll down to explore all features ↓"
  >
    Boost your productivity and streamline your workflow with our <strong
      >powerful Xcode Simulator tools</strong
    >. Developers report building, testing, and verifying apps <strong
      >up to 2x faster</strong
    > with RocketSim.
  </Header>
  <Navigation>
    <NavigationLink
      href="https://apps.apple.com/app/apple-store/id1504940162?pt=117264678&ct=website-header&mt=8"
      asButton
      target="_blank"
    >
      Download now
    </NavigationLink>
    <NavigationLink href="/team-insights">Team Licenses</NavigationLink>
    <NavigationLink href="https://docs.rocketsim.app" target="_blank">
      Documentation
    </NavigationLink>
    <NavigationLink
      href="https://docs.rocketsim.app/support/4FNpAbMLD25WbYwAhdxd37/faq/p3eKWj5LcsvBE7AqGuSty9"
      target="_blank"
    >
      FAQ
    </NavigationLink>
  </Navigation>
  <main>
    <AppStore />
    <Reviews />
    <Features />
    <TeamInsights />
    <StatusBar />
    <SubscribeToNewsletter />
    <SocialMediaMentions />
    <SupportAndFeedback />
  </main>
  <Footer />
</BaseLayout>
