---
import { getCollection, render } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";

import logoImage from "../assets/rocketsim-logo.svg";

const rawFeatures = await getCollection("feature");
const features = await Promise.all(
  rawFeatures.map(async (feature) => {
    const { Content } = await render(feature);
    return {
      ...feature,
      Content,
    };
  })
);
---

<BaseLayout pageTitle="Build Apps Faster - RocketSim">
  <Header
    title="Enhancing the Xcode Simulators"
    logo={logoImage}
    logoAlt='Written logo spelling: "RocketSim"'
  >
    Boost your productivity and streamline your workflow with our <strong
      >powerful Xcode Simulator tools</strong
    >. Developers report building, testing, and verifying apps <strong
      >up to 2x faster</strong
    > with RocketSim.
  </Header>
  <Navigation />
  <main>
    {
      features.map((feature) => (
        <>
          <h2>{feature.data.title}</h2>
          <feature.Content />
        </>
      ))
    }
  </main>
</BaseLayout>
