---
import BaseLayout from "../old/layouts/BaseLayout.astro";
import Header from "../old/components/Header.astro";
import Navigation from "../old/components/Navigation.astro";
import NavigationLink from "../old/components/NavigationLink.astro";
import Footer from "../old/components/Footer.astro";

import logoImage from "../assets/rocketsim-logo.svg";
---

<style>
  main {
    margin-bottom: 2rem;
  }

  section {
    margin: 1rem 0;
  }

  h3 {
    margin: 0;

    font-size: inherit;
  }

  .title--underline {
    margin: 0 0 1rem;

    text-decoration: underline;
  }

  p {
    margin: 0 0 1rem;
  }
</style>

<BaseLayout
  pageTitle="Privacy Policy - RocketSim"
  pageDescription="Simulator Airplane Mode, Location Simulation, Accessibility Testing, Compare designs inside the iOS simulator. Test deeplinks, push notifications."
>
  <Header
    title="RocketSim Privacy statement"
    logo={logoImage}
    logoAlt='Written logo spelling: "RocketSim"'
  >
    Your privacy is important to us. This Privacy statement explains how
    RocketSim collects, uses, and protects your personal information.
  </Header>
  <Navigation>
    <NavigationLink href="/"> All Features </NavigationLink>
    <NavigationLink href="/team-insights">Team Licenses</NavigationLink>
    <NavigationLink href="https://docs.rocketsim.app" target="_blank">
      Documentation
    </NavigationLink>
    <NavigationLink
      href="https://docs.rocketsim.app/support/4FNpAbMLD25WbYwAhdxd37/faq/p3eKWj5LcsvBE7AqGuSty9"
      target="_blank"
    >
      FAQ
    </NavigationLink>
  </Navigation>
  <main>
    <div class="deprecated-grid">
      <div>
        <section>
          <p>
            <em
              >This privacy statement was most recently revised on 9 April 2025</em
            >
          </p>
          <p>
            RNA Ventures B.V. (hereinafter: ‘we’, ‘us’ or ‘RocketSim’) offers
            services that allow customers to manage licenses, users, devices,
            and get insights into your statistics (hereinafter: ‘RocketSim
            Services’).
          </p>
          <p>
            These services are built around the use of a macOS/Swift application
            developed and offered by SwiftLee B.V. (hereinafter: ‘RocketSim
            App’), which is available for download via the Apple App Store.
          </p>
          <p>
            In providing the RocketSim Services, we process personal data. This
            privacy statement tells you what personal data we process from you
            and what we do with your personal data.
          </p>
        </section>

        <section aria-labelledby="privacy-glance">
          <h3 id="privacy-glance">Our privacy statement at a glance</h3>
          <p>
            Your privacy is of great importance to us. We therefore comply with
            the General Data Protection Regulation (hereinafter: GDPR). This
            means that we:
          </p>
          <ul>
            <li>
              <strong>Record our purposes</strong> before we process your personal
              data, as set out in this privacy statement.
            </li>
            <li>
              <strong>Store as little personal data as possible</strong> and only
              the data necessary for our purposes.
            </li>
            <li>
              <strong>Make sure that there is a valid legal basis</strong> for the
              processing of your personal data.
            </li>
            <li>
              <strong>Take the necessary security measures</strong> to protect your
              personal data. We also impose these obligations on parties who process
              personal data on our behalf.
            </li>
            <li>
              <strong>Respect your rights</strong>, such as the right of access,
              rectification or erasure of your personal data processed by us.
            </li>
          </ul>
        </section>
        <section aria-labelledby="purposes">
          <h3 id="purposes">For what purposes do we use your personal data?</h3>
          <p>
            We obtain various types of personal data from you. We specify for
            each processing what personal data we obtain from you, for what
            purpose we process this personal data and for how long it is stored.
            If you have any questions or would like to know exactly what
            personal data we store about you, please contact us. Our contact
            details are mentioned at the bottom of this privacy statement.
          </p>
        </section>
        <section aria-labelledby="processing-data">
          <h3 id="processing-data">
            Legal basis for the processing of personal data
          </h3>
          <p>
            We are permitted to process your personal data only if there is a
            valid legal basis for doing so. This means that every time we
            process your personal data, we must evaluate whether we have a
            legitimate reason to do so. Without such a basis, we are not allowed
            to process your data.
          </p>
          <p>
            The potential legal bases for processing your personal data are:
          </p>
          <ul>
            <li>
              <strong>Execution of an agreement with the data subject:</strong> we
              process personal data to fulfil the terms of an agreement we have entered
              into with you;
            </li>
            <li>
              <strong>Legal obligation:</strong> in certain circumstances, we are
              legally required to collect and retain personal data;
            </li>
            <li>
              <strong>Legitimate Interest:</strong> At times, we process personal
              data because it is necessary for a legitimate interest. In such cases,
              we carefully balance our legitimate interests against your right to
              privacy;
            </li>
            <li>
              <strong>Vital Interest:</strong> In exceptional and emergency situations,
              we may process your personal data to protect your life or the lives
              of others;
            </li>
            <li>
              <strong>Consent:</strong> Your personal data may also be processed
              with your explicit consent. We will only rely on consent as a legal
              basis if you have a genuine choice and there are no adverse consequences
              for withholding your consent.
            </li>
          </ul>
          <p>
            Below, we provide a detailed overview of the various types of
            processing activities we may undertake.
          </p>
        </section>
        <section aria-labelledby="use-of-app">
          <h3 id="use-of-app" class="title--underline">
            <em>Use of the RocketSim App</em>
          </h3>
          <p>
            <strong>Purpose:</strong> To make it possible for users to download and
            use the RocketApp.
          </p>
          <p><strong>Personal data:</strong></p>
          <ul>
            <li>E-mailaddress</li>
            <li>Full name</li>
            <li>Device hardware ID (hashed)</li>
            <li>Device name (ie. Macbook of John Doe)</li>
            <li>Device hardware ID (irreversibly hashed)</li>
            <li>MachineCores (14 cores)</li>
            <li>MachineMemory</li>
            <li>MachineChip (CPU chip)</li>
            <li>MachineModelIdentifier</li>
            <li>WorkspaceName</li>
            <li>Scheme</li>
            <li>MacOS version</li>
          </ul>
          <p><strong>Legal basis:</strong></p>
          <ul>
            <li>Execution of an agreement with the data subject;</li>
          </ul>
          <p>
            <strong>Retention period:</strong><br />During the subscription
            term, data will be retained. Upon termination of the subscription,
            all data will be permanently deleted within 30 days.
          </p>
        </section>
        <section aria-labelledby="use-of-services">
          <h3 id="use-of-services" class="title--underline">
            <em>Use of the RocketSim Services</em>
          </h3>
          <p>
            <strong>Purpose:</strong> To make it possible for users to manage their
            licenses, users, devices and get insights into their statistics.
          </p>

          <p><strong>Personal data:</strong></p>
          <ul>
            <li>
              Scheme, project file name (e.g., MyProject.xcodeproj), and build
              durations
            </li>
            <li>Machine metadata, being:</li>
            <li>User credentials</li>
            <li>Team information</li>
          </ul>

          <p><strong>Legal basis:</strong></p>
          <ul>
            <li>Execution of an agreement with the data subject;</li>
          </ul>

          <p>
            <strong>Retention period:</strong><br />During the subscription
            term, data will be retained. Upon termination of the subscription,
            all data will be permanently deleted within 30 days.
          </p>
        </section>
        <section aria-labelledby="contact">
          <h3 id="contact"><em>Contact</em></h3>
          <p>
            <strong>Purpose:</strong><br />Establishing and maintaining
            communication with the users of RocketSim and/or other data subjects
            who contact us.
          </p>
          <p>For this purpose, we process the following personal data:</p>
          <ul>
            <li>Full name</li>
            <li>E-mailaddress</li>
          </ul>
          <p><strong>Legal basis:</strong></p>
          <ul>
            <li>Execution of an agreement with the data subject;</li>
          </ul>
          <p>
            <strong>Retention period:</strong><br />The above mentioned personal
            data shall be processed until the data subject unsubscribes from
            RocketSim's newsletter. Upon unsubscription, the personal data shall
            be securely deleted within 30 days.
          </p>
        </section>
        <section aria-labelledby="sending-newsletters">
          <h3 id="sending-newsletters" class="title--underline">
            <em>Sending newsletters</em>
          </h3>
          <p>
            <strong>Purpose:</strong> Sending newsletters to the users of RocketSim.
          </p>
          <p>For this purpose, we process the following personal data:</p>
          <ul>
            <li>Full name</li>
            <li>E-mailaddress</li>
          </ul>
          <p><strong>Legal basis:</strong></p>
          <ul>
            <li>Consent;</li>
          </ul>
          <p>
            <strong>Retention period:</strong><br />The above mentioned personal
            data shall be processed until the data subject unsubscribes from
            RocketSim's newsletter. Upon unsubscription, the personal data shall
            be securely deleted within 30 days.
          </p>
          <p><strong>Purpose:</strong> Inform of new RocketSim features</p>
          <p><strong>Personal data:</strong></p>
          <ul>
            <li>email address</li>
          </ul>
          <p><strong>Legal basis:</strong></p>
          <ul>
            <li>Execution of an agreement with the data subject;</li>
            <li>Legal obligation;</li>
            <li>Legitimate Interest;</li>
            <li>Vital Interest;</li>
            <li>Consent:</li>
          </ul>
          <p><strong>Retention period:</strong><br />30 days</p>
        </section>
        <section aria-labelledby="when-share-personal-data">
          <h3>
            <em>When can we share your personal data with third parties?</em>
          </h3>
          <p>
            RocketSim will only share your personal data with third parties to
            the extent permitted by current legislation. We may provide your
            personal data to third parties when:
          </p>
          <ul>
            <li>We have engaged them to process certain personal data;</li>
            <li>We have a legal basis to do so;</li>
            <li>
              We are legally obligated to do so (e.g., if the police demand this
              in case of a suspicion of a crime).
            </li>
          </ul>
          <p>Third parties processing personal data on our behalf or yours:</p>
          <ul>
            <li>MailGun – to send emails</li>
          </ul>
          <p>
            RocketSim may provide your personal data to parties located outside
            the European Economic Area (EEA) to provide services. RocketSim will
            only do so if there is an appropriate level of protection for the
            processing of personal data.
          </p>
          <p>
            This privacy statement applies only to the services of RocketSim. We
            are not responsible for the privacy practices of other websites,
            which can be accessed through a link on our website.
          </p>
        </section>
        <section aria-labelledby="secial-media-buttons">
          <h3 id="secial-media-buttons"><em>Social media buttons</em></h3>
          <p>
            We use social media buttons on our website that redirect you to the
            relevant social media platforms. This gives you the option to follow
            us and share content. You will also see advertisements on your
            social media page. The buttons operate through bits of code provided
            by the social media networks. If you want to know what the social
            media platforms do with your personal data, please read the relevant
            privacy statement:
          </p>
          <ul>
            <li>
              <a href="https://twitter.com/en/privacy"
                >Twitter (Privacy Statement)</a
              >
            </li>
            <li>
              <a href="https://policies.google.com/privacy?hl=nl"
                >Youtube (Privacy Statement)</a
              >
            </li>
            <li>
              <a href="https://bsky.social/about/support/privacy-policy"
                >Bluesky (Privacy Statement)</a
              >
            </li>
          </ul>
        </section>
        <section aria-labelledby="security">
          <h3 id="security"><em>Security</em></h3>
          Personal data security is of great importance to us. We therefore take
          appropriate technical and organisational security measures with regard
          to the processing of personal data to be carried out, against loss or against
          any form of unlawful processing (such as unauthorized access, corruption,
          alteration or disclosure of personal data). We constantly update security
          and pay close attention to what can go wrong.
        </section>
        <section aria-labelledby="your-rights">
          <h3 id="your-rights"><em>What are your privacy rights?</em></h3>
          <p>
            You can always contact us if you have any questions regarding our
            privacy statement. Besides that, you have the following rights
            regarding your personal data:
          </p>
          <ul>
            <li>
              <strong>Right of access:</strong> you have the right to access the
              personal data we process about you.
            </li>
            <li>
              <strong>Right to rectification:</strong> you have the right to correct
              or supplement the personal data we process about you, e.g., if they
              are incorrect or incomplete.
            </li>
            <li>
              <strong>Right to object:</strong> you have the right to object to the
              processing of your personal data and to direct marketing.
            </li>
            <li>
              <strong>Right to erasure:</strong> you may request us to erase your
              personal data.
            </li>
            <li>
              <strong>Right to withdraw your consent:</strong> if you have consented
              to us processing personal data, you can withdraw your consent at any
              time.
            </li>
            <li>
              <strong>Right to data portability:</strong> if it is technologically
              possible, you have the right to have the personal data we process about
              you transferred to a third party.
            </li>
            <li>
              <strong>Right to restrict processing:</strong> in some cases, you can
              request that we restrict the processing of your personal data (temporarily
              or otherwise).
            </li>
          </ul>
          <p>
            We may ask you for identification to fulfil your request. We require
            this information to ensure that the requested personal data belongs
            to the right person.
          </p>
          <p>
            We will generally comply with your request within one month.
            However, this period may be extended by two months depending on the
            specific privacy rights or the complexity of the request. If we
            extend this period, we will inform you in good time.
          </p>
          <p>
            If you wish to exercise any of your rights, you can do so by sending
            an e-mail to
            <a href="mailto:support@rocketsim.app">support@rocketsim.app</a>.
          </p>
        </section>
        <section aria-labelledby="changes-to-statement">
          <h3 id="changes-to-statement">
            <em>Changes to this privacy statement</em>
          </h3>
          <p>
            When there is a change in our services, we will also need to change
            our privacy statement. Please consult this privacy statement
            regularly for the most up-to-date information.
          </p>
        </section>
        <section aria-labelledby="questions-or-complaint">
          <h3 id="questions-or-complaint">
            <em>Questions or filing a complaint</em>
          </h3>
          <p>
            If you have any questions or wish to make a complaint about the use
            of your personal data, please send an e-mail to <a
              href="mailto:support@rocketsim.app">support@rocketsim.app</a
            >. We will address each question and complaint internally and
            communicate this further with you. Should you feel we have not been
            able to help you properly with any questions about your privacy, you
            have the right to file a complaint with the Dutch Data Protection
            Authority (<a href="https://autoriteitpersoonsgegevens.nl/en"
              >Autoriteit Persoonsgegevens</a
            >).
          </p>
        </section>
        <section aria-labelledby="contact-details">
          <h3 id="contact-details"><em>Contact details</em></h3>
          <p>
            For questions about our privacy statement or your rights, you can
            always contact us using the following information:
          </p>
          <address>
            RNA Ventures B.V.<br />
            A. Commandeurlaan 30,<br />
            1715 AG Spanbroek<br />
            The Netherlands<br /><br />
            <a href="mailto:support@rocketsim.app">support@rocketsim.app</a><br
            />
            <a href="tel:+14709199873">+1 470 919 9873</a>
          </address>
        </section>
      </div>
    </div>
  </main>
  <Footer />
</BaseLayout>
