---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import NavigationLink from "../components/NavigationLink.astro";
import Footer from "../components/Footer.astro";

import logoImage from "../assets/rocketsim-logo.svg";
---

<style>
  main {
    margin-bottom: 2rem;
  }

  .articles {
    padding: 0;
    margin: 0;

    font-family: "Arial", sans-serif;

    list-style: none;
    counter-reset: article;
  }

  .articles > li {
    position: relative;

    margin-bottom: 1.5rem;

    counter-increment: article;
  }

  .articles > li::before {
    display: inline-block;
    width: 6.5rem;

    font-weight: bold;
    color: #fff;

    vertical-align: top;
    content: "Article " counter(article) ".";
  }

  .sections {
    padding-left: 0;
    margin: 0;

    counter-reset: section;
    list-style: none;
  }

  .sections > li {
    position: relative;

    padding-left: 6.5rem;

    counter-increment: section;
  }

  .sections > li::before {
    position: absolute;
    left: 0;

    width: 6.5rem;

    content: counter(article) "." counter(section) ".";
  }

  .subsections {
    padding-left: 0;
    margin: 0.5rem 0;

    list-style: none;
    counter-reset: subsection;
  }

  .subsections > li {
    position: relative;

    padding-left: 1.875rem;

    font-weight: normal;

    counter-increment: subsection;
  }

  .subsections > li::before {
    position: absolute;
    left: 0;

    width: 1.5rem;

    font-weight: normal;

    content: counter(subsection, lower-alpha) ".";
  }
</style>

<BaseLayout
  pageTitle="Terms of Use - RocketSim"
  pageDescription="Simulator Airplane Mode, Location Simulation, Accessibility Testing, Compare designs inside the iOS simulator. Test deeplinks, push notifications."
>
  <Header
    title="RocketSim Terms of Use"
    logo={logoImage}
    logoAlt='Written logo spelling: "RocketSim"'
  >
    Welcome to RocketSim! These Terms of Use govern your use of RocketSim, a
    developer tool designed to enhance app development experiences. By accessing
    or using RocketSim, you agree to these Terms. Please read them carefully.
  </Header>
  <Navigation>
    <NavigationLink href="/"> All Features </NavigationLink>
    <NavigationLink href="/team-insights">Team Licenses</NavigationLink>
    <NavigationLink href="https://docs.rocketsim.app" target="_blank">
      Documentation
    </NavigationLink>
    <NavigationLink
      href="https://docs.rocketsim.app/support/4FNpAbMLD25WbYwAhdxd37/faq/p3eKWj5LcsvBE7AqGuSty9"
      target="_blank"
    >
      FAQ
    </NavigationLink>
  </Navigation>
  <main>
    <div class="grid">
      <div>
        <p>
          These are the Terms and Conditions of RNA Ventures B.V. established in
          Spanbroek, The Netherlands and registered with the Dutch Chamber of
          Commerce under number 95657312 (hereinafter: “RocketSim”).
        </p>
        <ol class="articles">
          <li>
            <strong>Hierarchy, and definitions</strong>
            <ol class="sections">
              <li>
                These Terms apply to all Agreements concluded between RocketSim
                and the Customer.
              </li>
            </ol>
          </li>
          <li>
            <strong>Definitions</strong>
            <ol class="sections">
              <li>
                The definitions of the terms written with a capital letter can
                be found in this article and apply to all provisions of the
                Terms.
                <ol class="subsections">
                  <li>
                    <strong>Account:</strong> the right to access to a user interface
                    that Customer can use to manage and configure certain aspects
                    of the Services, get insights in statistics, as well as the information
                    stored by Customer.
                  </li>
                  <li>
                    <strong>Agreement:</strong> an agreement concluded between the
                    Customer and RocketSim on the basis of an approved Quotation
                    of which these Terms form an integral part. This agreement may
                    cover both the provision of the Services to Customers or to the
                    (end) User.
                  </li>
                  <li>
                    <strong>Customer:</strong> the legal person with whom RocketSim
                    has concluded an Agreement for the provision of the Services.
                  </li>
                  <li>
                    <strong>Customer Data:</strong> any data stored by Customer or
                    individual Users of Customer by way of the Services or otherwise
                    made available to RocketSim by Customer in the context of the
                    Agreement.
                  </li>
                  <li>
                    <strong>Documentation:</strong> all accompanying materials (whether
                    in hard copy or in electronic format) supplied in connection
                    with the Services, including any and all manuals, instruction
                    guides, online documentation, any written materials accompanying
                    the Services or other materials provided to Customer by RocketSim
                    which describe the functionality and/or specifications of the
                    Services.
                  </li>
                  <li>
                    <strong>GDPR:</strong> General Data Protection Regulation Regulation
                    (EU) 2016/679 of the European Parliament and of the Council of
                    27 April 2016 on the protection of natural persons with regard
                    to the processing of personal data and on the free movement of
                    such data, and repealing Directive 95/46/EC.
                  </li>
                  <li>
                    <strong>Intellectual Property Rights:</strong> intellectual property
                    rights of RocketSim or its licensors and which are part of or
                    used for the execution of the Agreement, such as but not limited
                    to intellectual property rights and related rights, such as copyrights,
                    database rights, trade name rights, trademark rights, design
                    rights, related rights, patent rights, as well as rights to know-how.
                  </li>
                  <li>
                    <strong>License Scope:</strong> the volumes (e.g. number of Users),
                    and/or other limitations that apply to the use of the Services,
                    as specified in the Agreement
                  </li>
                  <li>
                    <strong>Party or Parties:</strong> RocketSim and Customer together
                    or separately
                  </li>
                  <li>
                    <strong>Price List:</strong> the price list for the provision
                    of the Services as listed on the website of RocketSim (rocketsim.app).
                  </li>
                  <li>
                    <strong>Quotation:</strong> any offer or quotation from RocketSim,
                    as listed on the website of RocketSim (rocketsim.app), in the
                    context of the provision of the Services in the context of the
                    Agreement.
                  </li>
                  <li>
                    <strong>Services:</strong> the services and activities that RocketSim
                    will provide to the Customer, as specified in the Agreement/Quotation,
                    which shall in any event include the provision of the RocketSim
                    App.
                  </li>
                  <li>
                    <strong>RocketSim App:</strong> a developer tool designed to
                    enhance app development experiences provided by RocketSim to
                    Customer and individual Users of Customer, as described in the
                    Quotation, that RocketSim makes available to Customers and Users.
                  </li>
                  <li>
                    <strong>Supervisory Authority:</strong> the Dutch authorities
                    that supervise the way in which the Parties comply with their
                    legal obligations under the law, such as, but not limited to
                    the Autoriteit Persoonsgegevens.
                  </li>
                  <li>
                    <strong>Terms:</strong> these terms and conditions.
                  </li>
                  <li>
                    <strong>User:</strong> the natural person who uses the Services
                    on behalf of the Customer.
                  </li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
    <Footer />
  </main>
</BaseLayout>
