---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import NavigationLink from "../components/NavigationLink.astro";
import Footer from "../components/Footer.astro";

import logoImage from "../assets/rocketsim-logo.svg";
---

<style>
  main {
    margin-bottom: 2rem;
  }

  .articles {
    padding: 0;
    margin: 0;

    font-family: "Arial", sans-serif;

    list-style: none;
    counter-reset: article;
  }

  .articles > li {
    position: relative;

    margin-bottom: 1.5rem;

    counter-increment: article;
  }

  .articles > li::before {
    display: inline-block;
    width: 6.5rem;

    font-weight: bold;
    color: #fff;

    vertical-align: top;
    content: "Article " counter(article) ".";
  }

  .sections {
    padding-left: 0;
    margin: 0;

    counter-reset: section;
    list-style: none;
  }

  .sections > li {
    position: relative;

    padding-left: 6.5rem;

    counter-increment: section;
  }

  .sections > li::before {
    position: absolute;
    left: 0;

    width: 6.5rem;

    content: counter(article) "." counter(section) ".";
  }

  .subsections {
    padding-left: 0;
    margin: 0.5rem 0;

    list-style: none;
    counter-reset: subsection;
  }

  .subsections > li {
    position: relative;

    padding-left: 1.875rem;

    font-weight: normal;

    counter-increment: subsection;
  }

  .subsections > li::before {
    position: absolute;
    left: 0;

    width: 1.5rem;

    font-weight: normal;

    content: counter(subsection, lower-alpha) ".";
  }
</style>

<BaseLayout
  pageTitle="Terms of Use - RocketSim"
  pageDescription="Simulator Airplane Mode, Location Simulation, Accessibility Testing, Compare designs inside the iOS simulator. Test deeplinks, push notifications."
>
  <Header
    title="RocketSim Terms of Use"
    logo={logoImage}
    logoAlt='Written logo spelling: "RocketSim"'
  >
    Welcome to RocketSim! These Terms of Use govern your use of RocketSim, a
    developer tool designed to enhance app development experiences. By accessing
    or using RocketSim, you agree to these Terms. Please read them carefully.
  </Header>
  <Navigation>
    <NavigationLink href="/"> All Features </NavigationLink>
    <NavigationLink href="/team-insights">Team Licenses</NavigationLink>
    <NavigationLink href="https://docs.rocketsim.app" target="_blank">
      Documentation
    </NavigationLink>
    <NavigationLink
      href="https://docs.rocketsim.app/support/4FNpAbMLD25WbYwAhdxd37/faq/p3eKWj5LcsvBE7AqGuSty9"
      target="_blank"
    >
      FAQ
    </NavigationLink>
  </Navigation>
  <main>
    <div class="grid">
      <div>
        <p>
          These are the Terms and Conditions of RNA Ventures B.V. established in
          Spanbroek, The Netherlands and registered with the Dutch Chamber of
          Commerce under number 95657312 (hereinafter: “RocketSim”).
        </p>
        <ol class="articles">
          <li>
            <strong>Hierarchy, and definitions</strong>
            <ol class="sections">
              <li>
                These Terms apply to all Agreements concluded between RocketSim
                and the Customer.
              </li>
            </ol>
          </li>
          <li>
            <strong>Definitions</strong>
            <ol class="sections">
              <li>
                The definitions of the terms written with a capital letter can
                be found in this article and apply to all provisions of the
                Terms.
                <ol class="subsections">
                  <li>
                    <strong>Account:</strong> the right to access to a user interface
                    that Customer can use to manage and configure certain aspects
                    of the Services, get insights in statistics, as well as the information
                    stored by Customer.
                  </li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
    <Footer />
  </main>
</BaseLayout>
