---
import { getEntry } from "astro:content";

import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import SectionHeader from "../old/components/SectionHeader.astro";
import NewsLetterForm from "../old/components/NewsLetterForm.astro";

const pageIndex = await getEntry("thank-you", "-index");
if (!pageIndex) return null;
const { title, meta_title, description } = pageIndex.data;
const {
  site: { base_url },
} = config;

// Build SEO object
const seo = {
  title: meta_title || `${title} - RocketSim`,
  description,
  canonical: `${base_url}/thank-you`,
  robots: {
    index: false,
    follow: false,
  },
};
---

<style>
  header {
    margin-top: 2rem;

    @media (min-width: 800px) {
      margin-top: 0;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 800px) {
      display: none;
    }
  }

  .logo-image {
    width: 4rem;
    height: auto;
  }

  section {
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media (min-width: 800px) {
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
  }

  .thank-you-wrapper {
    padding-top: 0.0625rem;
    margin-top: 5rem;
  }

  .thank-you {
    text-align: center;
  }

  .newsletter {
    padding: 4rem 0;
    margin: 0;

    text-align: center;

    background-color: #101010;

    @media (min-width: 800px) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
</style>

<Base seo={seo}>
  <div class="thank-you-wrapper">
    <section class="deprecated-grid thank-you">
      <SectionHeader title="Thanks for purchasing RocketSim!" />
      <p>An invitation email with further instructions has been send to you.</p>
    </section>
    <section class="newsletter">
      <SectionHeader
        title="While you await your invitation email"
        subtitle="Subscribe to our newsletter"
        smallTitle
        text="And be the first to discover new features & time-saving tricks."
      />
      <NewsLetterForm />
    </section>
  </div>
</Base>
