---
import { Image } from "astro:assets";

import BaseLayout from "../old/layouts/BaseLayout.astro";
import Navigation from "../old/components/Navigation.astro";
import NavigationLink from "../old/components/NavigationLink.astro";
import SectionHeader from "../old/components/SectionHeader.astro";
import NewsLetterForm from "../old/components/NewsLetterForm.astro";

import appIcon from "../assets/rocketsim-app-icon.png";
---

<style>
  header {
    margin-top: 2rem;

    @media (min-width: 800px) {
      margin-top: 0;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 800px) {
      display: none;
    }
  }

  .logo-image {
    width: 4rem;
    height: auto;
  }

  section {
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media (min-width: 800px) {
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
  }

  .thank-you {
    text-align: center;
  }

  .newsletter {
    padding: 4rem 0;
    margin: 0;

    text-align: center;

    background-color: #101010;

    @media (min-width: 800px) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
</style>

<BaseLayout
  pageTitle="Thank you - RocketSim"
  pageDescription="Thank you for your order! Your order is being processed and you will receive an email soon."
>
  <header>
    <div class="logo">
      <a href="/">
        <Image
          src={appIcon}
          widths={[128, 512]}
          sizes="(max-width: 767px) 4rem, 16rem"
          alt="RocketSim app icon"
          class="logo-image"
        />
      </a>
    </div>
    <Navigation isAlwaysActive={true}>
      <NavigationLink href="/">All Features</NavigationLink>
      <NavigationLink href="https://docs.rocketsim.app" target="_blank">
        Documentation
      </NavigationLink>
      <NavigationLink
        href="https://docs.rocketsim.app/support/4FNpAbMLD25WbYwAhdxd37/faq/p3eKWj5LcsvBE7AqGuSty9"
        target="_blank"
      >
        FAQ
      </NavigationLink>
    </Navigation>
  </header>
  <main>
    <section class="deprecated-grid thank-you">
      <SectionHeader title="Thanks for purchasing RocketSim!" />
      <p>An invitation email with further instructions has been send to you.</p>
    </section>
    <section class="newsletter">
      <SectionHeader
        title="While you await your invitation email"
        subtitle="Subscribe to our newsletter"
        smallTitle
        text="And be the first to discover new features & time-saving tricks."
      />
      <NewsLetterForm />
    </section>
  </main>
</BaseLayout>
