---
---

<nav aria-labelledby="primary-navigation">
  <ul>
    <li>
      <a
        href="https://apps.apple.com/app/apple-store/id1504940162?pt=117264678&ct=website-header&mt=8"
        target="_blank">Download now</a
      >
    </li>
    <li>
      <a href="/team-insights">Team Licenses</a>
    </li>
    <li>
      <a href="https://docs.rocketsim.app" target="_blank">Documentation</a>
    </li>
    <li>
      <a
        href="https://docs.rocketsim.app/support/4FNpAbMLD25WbYwAhdxd37/faq/p3eKWj5LcsvBE7AqGuSty9"
        target="_blank">FAQ</a
      >
    </li>
  </ul>
  <div>
    <img src="Assets/rocketsim-app-icon.png" />
  </div>
</nav>
