<style>

  .form-wrapper {
    margin-top: 1rem;
  }

  .form {
    @media (min-width: 800px) {
      grid-column: 3 / span 8;
    }
  }
</style>

  <div class="grid form-wrapper" data-aos="fade-up">
    <div class="form">
      <script
        is:inline
        async
        data-uid="44112f6fd3"
        src="https://rocketsim.ck.page/44112f6fd3/index.js"></script>
    </div>
  </div>

