---
import SectionHeader from "./SectionHeader.astro";

// Access environment variables for Stripe configuration
const STRIPE_PRICING_TABLE_ID = import.meta.env.PUBLIC_STRIPE_PRICING_TABLE_ID;
const STRIPE_PUBLISHABLE_KEY = import.meta.env.PUBLIC_STRIPE_PUBLISHABLE_KEY;

const trialUrl = import.meta.env.MODE === 'production'
? "https://teams.rocketsim.app/signup/trial"
: "http://localhost:5173/signup/trial";
---

<style>
  section {
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media (min-width: 800px) {
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
  }

  .header-wrapper {
    text-align: center;
  }

  p {
    margin: 1rem 0;

    text-align: center;
  }

  .link {
    color: var(--text-color);

    &:hover {
      text-decoration: underline;
    }
  }

.trial-button {
  text-align: center;
}

    .try {
      margin-top: 2rem;
    }
</style>

<section id="get-team-license">
  <div class="header-wrapper" data-aos="fade-in">
    <SectionHeader
      title="Ready to get started?"
      subtitle="Get your licenses now"
    />
  </div>
  <div class="pricing-table-wrapper" data-aos="fade-up">
    <script is:inline async src="https://js.stripe.com/v3/pricing-table.js"
    ></script>
    <stripe-pricing-table
      pricing-table-id={STRIPE_PRICING_TABLE_ID}
      publishable-key={STRIPE_PUBLISHABLE_KEY}
    >
    </stripe-pricing-table>
    <p>
      If you are a software reseller or broker, please contact <a
        href="mailto:ralphduin@rocketsim.app"
        class="link">ralphduin@rocketsim.app</a
      >
    </p>
    <p class="try">
    Keen to try it out first? Sign up for a free two weeks trial.
    </p>
    <div class="trial-button">
      <a href={trialUrl} class="button">Sign up for a free trial</a>
    </div>
  </div>
</section>
