---
import SectionHeader from "../components/SectionHeader.astro";
---

<style>
  section {
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media (min-width: 800px) {
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
  }

  .header-wrapper {
    text-align: center;
  }

  .plan-list {
    padding: 0;

    list-style: none;
  }

  .plan-item {
    height: 200px;
    background: red;

    @media (min-width: 600px) {
      grid-column: span 6
    }

    @media (min-width: 1200px) {
      grid-column: span 3
    }
  }
</style>

<section>
  <div class="header-wrapper" data-aos="fade-in">
    <SectionHeader
      title="Build apps faster"
      text="Whether you are an individual developer or part of a larger team, we have a plan that fits your needs."
    />
  </div>
  <ol class="grid plan-list">
    <li class="plan-item"></li>
    <li class="plan-item"></li>
    <li class="plan-item"></li>
    <li class="plan-item"></li>
  </ol>
</section>
