---
import SectionHeader from "./SectionHeader.astro";
---

<style>
  .mentions {
    margin-top: 3rem;
  }
</style>

<section>
  <SectionHeader
    title="Join Thousands Of Productive Developers"
    subtitle="See what others say about RocketSim on Social media"
    smallTitle
  />
  <div class="grid mentions">
    <div
      class="senja-embed"
      data-id="7b8ef1aa-201a-401a-a9d3-99fdf5325311"
      data-lazyload="true"
      data-mode="shadow"
    >
    </div>
    <script is:inline async src="https://static.senja.io/dist/platform.js"></script>
  </div>
</section>
