---
import SectionHeader from "./SectionHeader.astro";
---

<style>
  section {
    margin: 4rem 0;

    @media (min-width: 800px) {
      margin-top: 8rem;
      margin-bottom: 8rem;

      text-align: center;
    }
  }

  .form-wrapper {
    margin-top: 1rem;
  }

  .form {
    @media (min-width: 800px) {
      grid-column: 3 / span 8;
    }
  }
</style>

<section>
  <SectionHeader
    title="Exclusive Perks for Subscribers"
    subtitle="Enjoy 30% off RocketSim Pro"
    smallTitle
    text="And be the first to discover new features & time-saving tricks."
  />
  <div class="grid form-wrapper">
    <div class="form">
      <script
        is:inline
        async
        data-uid="44112f6fd3"
        src="https://rocketsim.ck.page/44112f6fd3/index.js"></script>
    </div>
  </div>
</section>
