---
import SectionHeader from "./SectionHeader.astro";
import NewsLetterForm from "./NewsLetterForm.astro";
---

<style>
  section {
    margin: 4rem 0;

    @media (min-width: 800px) {
      margin-top: 8rem;
      margin-bottom: 8rem;

      text-align: center;
    }
  }

</style>

<section>
  <div data-aos="fade-in">
    <SectionHeader
      title="Exclusive Perks for Subscribers"
      subtitle="Enjoy 30% off RocketSim Pro"
      smallTitle
      text="And be the first to discover new features & time-saving tricks."
      />
      <NewsLetterForm />
  </div>
</section>
