---
import SectionHeader from "./SectionHeader.astro";
---

<style>
  section {
    background-color: #101010;
  }
</style>

<section>
  <SectionHeader
    title="RocketSim Insights"
    subtitle="Increase the productivity of your whole team"
  />
</section>
