---
import SectionHeader from "./SectionHeader.astro";
import Feature from "./Feature.astro";

import FeatureImage from "../assets/features/build-insights.png";
---

<style>
  section {
    padding: 8rem 0;

    background-color: #101010;
  }

  .feature-wrapper {
    margin-top: 4rem;
  }
</style>

<section>
  <SectionHeader
    title="RocketSim Insights"
    subtitle="Increase the productivity of your whole team"
  />
  <div class="feature-wrapper">
    <Feature
      data={{
        name: "Keep track of Xcode Build Durations",
        asset: {
          type: "image",
          path: FeatureImage,
          alt: "RocketSim panel that shows an overview of build insights of a scheme in an app. It shows build counts and build durations split up in mutliple ways.",
          alignment: "right",
          columnSpan: 6,
        },
        sortOrder: 1,
      }}
    >
      Unlike Xcode, RocketSim will cache all your builds for months to follow.
      You'll be able to compare build times and <strong
        >get notified when compilation times increase.</strong
      >
    </Feature>
  </div>
</section>
