---
import { Image } from "astro:assets";

import appStoreReview from "../../assets/app-store-rating.jpg";
import appStoreFeatured from "../../assets/app-store-featured.jpg";
---

<style>
  .appstore-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (min-width: 520px) {
      flex-direction: row;
      justify-content: center;
      gap: 4rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    @media (min-width: 800px) {
      gap: 7rem;
    }
  }

  .image {
    width: 10.5rem;
    height: auto;
  }
</style>

<section
  class="deprecated-grid appstore-section"
  aria-label="App Store badges"
  data-aos="fade-in"
>
  <Image
    src={appStoreReview}
    alt='"4.7 Rating" badge from the Apple App Store, with five gold stars. The badge is black with white text and a white Apple logo, surrounded by a laurel wreath. Text at the bottom reads "App Store Reviews."'
    width="336"
    class="image"
  />
  <Image
    src={appStoreFeatured}
    alt='"Essential Apps for Developers" badge from the Apple App Store. The badge is black with white text and a white Apple logo, surrounded by a laurel wreath.'
    width="336"
    class="image"
  />
</section>
