<style>
  footer {
    padding: 1rem 0 2rem;

    background: #101010;
  }

  .grid {
    row-gap: 1rem;
  }

  p {
    margin: 0;

    font-size: 0.8125rem;
    text-align: center;
  }
</style>

<footer>
  <div class="deprecated-grid">
    <p>Copyright © 2024 RocketSim. All Rights Reserved.</p>
    <p><a href="/terms">Terms</a> and <a href="/privacy">Privacy Policy</a></p>
  </div>
</footer>
