---
import { Image } from "astro:assets";

import appIcon from "../../assets/rocketsim-app-icon.png";

interface Props {
  title: string;
  logo?: ImageMetadata;
  logoAlt?: string;
}

const { title, logo, logoAlt } = Astro.props;
---

<style>
  .hero {
    margin-top: 6rem;

    @media (min-width: 600px) {
      margin-top: 8rem;
    }

    @media (min-width: 800px) {
      margin-top: 10rem;
    }
  }

  .hero__content {
    @media (min-width: 800px) {
      grid-column: 1 / span 7;
    }
  }

  .hero__wordmark {
    display: inline-flex;
    margin: 0 0 1rem;
  }

  .hero__wordmark a {
    display: inline-flex;

    &:focus-visible {
      outline: 0.125rem solid var(--ring);
      border-radius: 0.25rem;
    }
  }

  .hero__wordmark-image {
    width: 10rem;
    height: auto;

    @media (min-width: 800px) {
      width: 16rem;
    }
  }

  h1 {
    margin: 0 0 0.5rem;

    font-size: 2rem;
    font-weight: 600;
    line-height: 1.05;
    letter-spacing: -0.006rem;
  }

  p {
    margin: 0 0 1rem;
  }

  .hero__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 800px) {
      grid-column: span 5 / -1;
    }
  }

  .logo-image {
    width: 4rem;
    height: auto;

    @media (min-width: 800px) {
      width: 16rem;
    }
  }
</style>
<header>
  <div class="deprecated-grid hero">
    <div class="hero__content">
      {
        logo && (
          <div class="hero__wordmark" id="hero-wordmark">
            <a href="/" aria-label="RocketSim">
              <Image
                src={logo}
                alt={logoAlt ?? "RocketSim"}
                height="48"
                class="hero__wordmark-image"
              />
            </a>
          </div>
        )
      }
      <h1>{title}</h1>
      <p>
        <slot />
      </p>
    </div>
    <div class="hero__logo">
      <Image
        src={appIcon}
        widths={[128, 512]}
        sizes="(max-width: 767px) 4rem, 16rem"
        alt="RocketSim app icon"
        class="logo-image"
      />
    </div>
  </div>
</header>
