---
import { Image } from "astro:assets";

import SectionHeader from "./SectionHeader.astro";

import gaugeIcon from "../../assets/gauge.svg";
import gaugeAlertIcon from "../../assets/gauge-alert.svg";
---

<style>
  section {
    margin-top: 8rem;
    margin-bottom: 4rem;

    @media (min-width: 800px) {
      margin-top: 12rem;
      margin-bottom: 8rem;
    }
  }

  .header-wrapper {
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;

    list-style-type: none;

    @media (min-width: 800px) {
      grid-column: 2 / span 10;
    }

    @media (min-width: 800px) {
      grid-column: 4 / span 6;
    }
  }

  article {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.75rem 1.25rem;

    color: #fff;

    background: linear-gradient(
      138deg,
      rgba(73, 96, 202, 0.7) 22%,
      rgba(52, 11, 122, 0.2) 82%
    );
    border-radius: 1.25rem;

    box-shadow:
      0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset,
      0px 0px 20px 3px rgba(7, 13, 79, 0.05),
      0px 0px 40px 20px rgba(7, 13, 79, 0.05),
      0 0 0 1px rgba(255, 255, 255, 0.06) inset;
  }

  img {
    position: relative;
    top: 0.125rem;
  }

  p {
    margin: 0 2.5rem 0 0;

    font-size: 0.9375rem;
  }
</style>

<section>
  <div class="header-wrapper" data-aos="fade-in">
    <SectionHeader
      title="Actionable Insights"
      subtitle="Take action based on data"
    />
  </div>
  <div class="deprecated-grid">
    <ul>
      <li>
        <article data-aos="fade-left" data-aos-delay="300">
          <Image src={gaugeIcon} alt="Speedometer icon" height="20" />
          <p>
            Save up to 2 hours per month by upgrading Jordi & Hidde's machine to
            an M3 Max.
          </p>
        </article>
      </li>
      <li>
        <article data-aos="fade-left" data-aos-delay="600">
          <Image
            src={gaugeAlertIcon}
            alt="Speedometer icon with exclamation mark"
            height="20"
          />
          <p>
            Antoine is the only one building with Xcode 15.3 which can lead to
            different build results.
          </p>
        </article>
      </li>
      <li>
        <article data-aos="fade-left" data-aos-delay="900">
          <Image src={gaugeIcon} alt="Speedometer icon" height="20" />
          <p>
            Xcode 16.0 seems to improve build times by 10%. Consider upgrading
            your whole team.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
