---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  asButton?: boolean;
  asSecondaryButton?: boolean;
  className?: string;
}

const { asButton, asSecondaryButton, className, ...rest } = Astro.props;

const baseClass = asButton ? "button" : asSecondaryButton ? "button button--secondary" : "link";
---

<style>
  .link {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus-visible {
      outline: 0.125rem solid var(--ring);
      border-radius: 0.25rem;
    }
  }

  .button {
    padding: 0.575rem 1.75rem;
  }

  .button--secondary {
    background-color: #373739;
    color: #fff;

    &:hover {
      background-color: #222224;
      text-decoration: none;
    }

    &:active {
      background-color: #1a1a1c;
    }

    &:focus-visible {
      outline: 0.25rem solid var(--ring);
    }
  }

</style>
<li>
  <a
    {...rest}
    class={`${baseClass}${className ? ` ${className}` : ""}`}
    ><slot /></a
  >
</li>
