<style>
  .newsletter-form-wrapper {
    margin-top: 1rem;
  }

  .newsletter-form {
    @media (min-width: 800px) {
      grid-column: 3 / span 8;
    }
  }
</style>

<div class="deprecated-grid newsletter-form-wrapper" data-aos="fade-up">
  <div class="newsletter-form">
    <script
      is:inline
      async
      data-uid="2152b53c8b"
      src="https://rocketsim.kit.com/2152b53c8b/index.js"></script>
  </div>
</div>
