---
// Senja testimonials widget
---

<style>
  section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
</style>

<section aria-label="Reviews from users">
  <div
    class="senja-embed"
    data-id="3e26a85b-fd07-45d2-88b6-a69564850353"
    data-mode="shadow"
    data-lazyload="false"
    style="display: block; width: 100%;"
  >
  </div>
</section>

<script
  src="https://widget.senja.io/widget/3e26a85b-fd07-45d2-88b6-a69564850353/platform.js"
  type="text/javascript"
  async></script>
