---
interface Props {
  title: string;
  subtitle?: string;
  text?: string;
  smallTitle?: boolean;
  badge?: string;
}

const { title, subtitle, text, smallTitle, badge } = Astro.props;
---

<style>
  div {
    @media (min-width: 800px) {
      grid-column: 2 / -2;
    }
  }

  .badge {
    display: inline-block;
    margin-bottom: 0.75rem;
    padding: 0.25rem 0.75rem;

    font-size: 0.75rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    background-color: var(--primary-color);
    border-radius: 999px;
  }

  .title {
    margin: 0 0 0.5rem;

    font-size: 3rem;
    line-height: 1.05556;
    font-weight: 600;
    letter-spacing: -0.006em;
    text-wrap: pretty;
    text-wrap: balance;

    @media (min-width: 800px) {
      font-size: 4.5rem;
    }
  }

  .title--dim {
    color: var(--text-color);
  }

  .title--small {
    font-size: 1.75rem;
  }

  p {
    margin: 2rem 0 0;

    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.33341;
    letter-spacing: -0.003em;
  }
</style>

<header class="deprecated-grid">
  <div>
    {badge && <span class="badge">{badge}</span>}
    <h3
      class:list={[
        "title",
        { "title--dim": !!subtitle, "title--small": smallTitle },
      ]}
    >
      {title}
    </h3>
    {subtitle ? <h4 class:list={["title"]}>{subtitle}</h4> : null}
    {text ? <p>{text}</p> : null}
  </div>
</header>
