---
import SectionHeader from "./SectionHeader.astro";
import NewsLetterForm from "./NewsLetterForm.astro";
---

<style>
  section {
    margin: 4rem 0;

    @media (min-width: 800px) {
      margin-top: 8rem;
      margin-bottom: 8rem;

      text-align: center;
    }
  }
</style>

<section>
  <div data-aos="fade-in">
    <SectionHeader
      title="Try RocketSim Pro free for 14 days"
      subtitle="Your productivity boost starts now."
      smallTitle
      text="Discover features that help you code, test, and ship faster than ever. No credit card required. Just tools that make you a faster iOS developer."
    />
    <NewsLetterForm />
  </div>
</section>
