html, body {
	margin: 0%;
	padding: 0%;
    overflow-x: hidden;
    
	background: #000000;
	color: #F5F5F7;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body .row {
	margin-left: 0;
	margin-right: 0;
}
#header-container p {
	text-shadow: 0 1px 3px rgba(0,0,0,.15);
	color: #aaa;
}
h1#page-title {
	font-family: FenwayPark;
}
h1#page-title a.blog-logo {
	background: url(assets/RocketSim-logo.svg) no-repeat left;
    display: block;
    text-indent: -9999px;
    background-size: contain;
}
#header-container h2 {
	font-size: 2rem;
}
h2 {
	margin-bottom: 1rem;
	font-size: 4.5rem;
}
#pro-section {
	background: #111111;
}
.navbar-brand {
	color: #fff!important;
	font-size: 2rem;
	font-weight: 800;
}
.bg-light {
	background-color: transparent!important;
}
.nav-link {
	color: #fff!important;
	padding: 1.5rem;
	letter-spacing: 2px;
	/*    font-weight: 600;*/
}
.navbar-brand {
	color: #fff!important;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 4px;
}
.navbar-brand :hover {
	color: black;
}
.jumbotron {
	background-color: transparent;
	color: #fff;
	font-size: 1.5rem;
	padding-right: 0;
	padding-left: 0;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
	padding: 1.5rem;
}
.display-4 {
	font-size: 4.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.jumbotron p {
	margin-top: 0;
	font-size: 18px;
	margin-bottom: 1rem;
}
.jumbotron img {
	/*    width: 350px;*/
	height: auto;
	padding-left: 0;
	padding-right: 0;
}
.btn-lg {
	padding: .75rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
	margin-top: 2rem;
	margin-right: 1.5rem;
}
.about {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.subtitle {
	font-size: 2.0rem;
    font-weight: 600;
}
.about-desc {
	padding: 0 10%;
}
.about-features-icon-left {
	float: right;
	margin-top: 1.5rem;
	min-height: 6rem;
}
.about-features-details-left {
	text-align: left;
}
.about-features-icon-right {
	float: left;
	margin-top: 1.5rem;
	min-height: 6rem;
}
.about-features-details-right {
	text-align: right;
}
.about-features {
	margin-top: 3.5rem;
}
.about-features .lead {
	color: #aaa;
}
.fa-4 {
	font-size: 3rem!important;
}
.pro button {
	padding: .75rem 0rem;
	font-size: 1.25rem;
	border-radius: .3rem;
	margin-top: 2rem;
	margin-right: 1.5rem;
}
#pro-features {
	margin-top: 90px;
}
#pro-features div {
	flex-basis: 33.33333%;
    max-width: 33.33333%;
    float: left;
}
#pro-features h3 {
	font-size: 1rem;
	font-weight: 600;
}
#pro-features figure {
	width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px 0 15px 0;
}
#pro-features p {
	font-size: 1rem;
	color: #A3A39C;
	font-weight: 600;
	width: 80%;
}
.watermark-removed-icon {
	background-image: url(Assets/watermark-icon.svg);
}
.performance-icon {
	background-image: url(Assets/performance-icon.svg);	
}
.file-sizes-icon {
	background-image: url(Assets/file-sizes-icon.svg);	
}
.app-store-button {
	padding: 0;
    background: none;
    border: none;
}
.parallax-background {
	background: url('parallax%20background.jpg');
	background-size: cover;
}
.overlay {
	/*background: rgba(51, 51, 51, 0.71);*/
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.contact-us {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.contact-us h1 {
	margin-bottom: 2rem;
}
.contact-us p {
	padding: 0 20%;
}
.form-inline {
	margin-top: 2rem;
}
.form-control {
	padding: 1rem;
	margin: 1rem;
	border: 1px solid #333;
}
.btn-light {
	color: #292b2c;
	background-color: #fff;
	border-color: #ccc;
	8f9fa;
	font-size: 1.5rem;
}
.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #111111;
    font-size: 13px;
    color: #6e6e73;
}
.footer a {
	color: white;
}
.wow {
	-webkit-animation-delay: 0.4s;
}
@media only screen and (max-width: 600px) {
	.jumbotron img {
		width: 100%;
	}
}